--find-links=https://girder.github.io/large_image_wheels GDAL
streamlit==1.46.0
pandas
numpy
scikit-learn
joblib
folium==0.20.0
streamlit-folium==0.25.0
fiona
pyproj
shapely
rtree
geopandas
setuptools
